#info,
#body {
    -fx-font-family: Vazir;
}

#save,
#save:hover,
#save:focused {
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 24px;
}

#finish,
#finish:hover,
#finish:focused {
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 24px;
}