#title,
#title:hover,
#title:focused{
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 24;
}

#progress {
    -fx-accent: #DEB992;
}

#actionButton,
#actionButton:hover,
#actionButton:focused{
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 18;
    -fx-background-radius: 100px;
}
