#title {
    -fx-font-family: "Vazir";
}

#firstname {
    -fx-font-family: "Vazir";
    -fx-font-size: 16;
    -fx-background-image: url("../../../assets/images/face.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-border-style: hidden none solid none;
    -fx-border-width: 1;
    -fx-border-color: #707070;
}

#lastname {
    -fx-font-family: "Vazir";
    -fx-font-size: 16;
    -fx-background-image: url("../../../assets/images/lname.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-border-style: hidden none solid none;
    -fx-border-width: 1;
    -fx-border-color: #707070;
}

#studentid {
    -fx-font-family: "Vazir";
    -fx-font-size: 16;
    -fx-background-image: url("../../../assets/images/verify.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-border-style: hidden none solid none;
    -fx-border-width: 1;
    -fx-border-color: #707070;
}