#username {
    -fx-font-family: "Vazir";
    -fx-font-size: 16;
    -fx-background-image: url("../../../assets/images/face.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-border-style: hidden none solid none;
    -fx-border-width: 1;
    -fx-border-color: #707070;
}

#password {
    -fx-font-family: "Vazir";
    -fx-font-size: 16;
    -fx-background-image: url("../../../assets/images/lname.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-border-style: hidden none solid none;
    -fx-border-width: 1;
    -fx-border-color: #707070;
}