#title {
    -fx-font-family: "Vazir Bold";
}

#yourgrade {
    -fx-font-family: "Vazir Bold";
}

#gtog {
    -fx-font-family: "Vazir Bold";
}

#back,
#back:hover,
#back:focused {
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 24px;
}

#cond {
    -fx-font-family: "Vazir Bold";
}

#avg {
    -fx-font-family: "Vazir Bold";
}

#avgg {
    -fx-font-family: "Vazir Bold";
}

#avggg {
    -fx-font-family: "Vazir Bold";
}

#rank {
    -fx-font-family: "Vazir Bold";
}

#rankk {
    -fx-font-family: "Vazir Bold";
}