#title,
#review,
#duration,
#time,
#date{
    -fx-font-family: "Vazir Bold";
}

#name,
#grade {
    -fx-font-family: Vazir;
}

#excel,
#excel:hover,
#excel:focused{
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 18;
}