#title,
#or,
#excelupload,
#cancel,
#addButton {
    -fx-font-family: "Vazir Bold";
}

#excelupload,
#excelupload:hover,
#excelupload:focused{
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 24;
}

#addButton,
#addButton:hover,
#addButton:focused{
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 24;
}

#cancel,
#cancel:hover,
#cancel:focused{
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 24;
}

#firstname {
    -fx-font-family: "Vazir";
    -fx-background-image: url("../../../../../../assets/images/face.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 20;
    -fx-border-style: hidden none solid none;
    -fx-border-width: 1;
    -fx-border-color: #707070;
}
#lastname {
    -fx-font-family: "Vazir";
    -fx-background-image: url("../../../../../../assets/images/lname.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 20;
    -fx-border-style: hidden none solid none;
    -fx-border-width: 1;
    -fx-border-color: #707070;
}

#studentId {
    -fx-font-family: "Vazir";
    -fx-background-image: url("../../../../../../assets/images/verify.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 20;
    -fx-border-style: hidden none solid none;
    -fx-border-width: 1;
    -fx-border-color: #707070;
}

