#title {
    -fx-font-family: "Vazir Bold";
}

#apply,
#apply:hover,
#apply:focused,
#cancel,
#cancel:hover,
#cancel:focused{
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 20;
}


#descriptive,
#trueFalse,
#multiChoice {
    -fx-font-family: Vazir;
}

#point {
    -fx-font-family: Vazir;
}

#name {
    -fx-font-family: "Vazir";
    -fx-font-size: 20;
    -fx-border-style: hidden none solid none;
    -fx-border-width: 1;
    -fx-border-color: #707070;
}

#body {
    -fx-font-family: "Vazir";
    -fx-font-size: 14;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 2;
    -fx-border-color: #707070;
    -fx-text-alignment: right;
}