#title,
#title:hover,
#title:focused{
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 18;
}

#duration,
#duration:hover,
#duration:focused{
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 18;
}