#title,
#title:hover,
#title:focused {
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 24px;
}

#date,
#date:hover,
#date:focused {
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 18px;
}

#time,
#time:hover,
#time:focused {
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 18px;
}

#duration,
#duration:hover,
#duration:focused {
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 18px;
}

#actionButton,
#actionButton:hover,
#actionButton:focused {
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 18px;
    -fx-background-radius: 1000px;
}