#name,
#duration,
#time,
#date {
    -fx-font-family: "Vazir";
}

#accept,
#accept:hover,
#accept:focused{
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 24;
    -fx-background-radius: 1000px;
}

#result,
#result:hover,
#result:focused{
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 24;
    -fx-background-radius: 1000px;
}

#cancel,
#cancel:hover,
#cancel:focused{
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 24;
    -fx-background-radius: 1000px;
}

#reviewable {
    -fx-font-family: "Vazir Bold";
}

#name {
    -fx-font-size: 24px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}