#generalInfo,
#body {
    -fx-font-family: "Vazir Bold";
}

#imgUpload,
#imgUpload:hover,
#imgUpload:focused {
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 18px;
}

#fUpload,
#fUpload:hover,
#fUpload:focused {
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 18px;
}