@font-face {
    font-family: Vazir;
    src: url("/assets/fonts/Vazir.ttf");
}

@font-face {
    font-family: "Vazir Bold";
    src: url("/assets/fonts/Vazir-Bold.ttf");
}

.root {
    -fx-font-family: Vazir;
}

#description {
    -fx-font-family: Vazir;
}

#signup {
    -fx-background-color: #1BA098;
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 24px;
}

#signup:hover {
    -fx-background-color: #14746f;
}

#username {
    -fx-font-family: "Vazir";
    -fx-background-image: url("../../assets/images/fingerprint.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 20;
    -fx-border-style: hidden none solid none;
    -fx-border-width: 1;
    -fx-border-color: #707070;
}

#password {
    -fx-font-family: "Vazir";
    -fx-background-image: url("../../assets/images/lock.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 20;
    -fx-border-style: hidden none solid none;
    -fx-border-width: 1;
    -fx-border-color: #707070;
}

#username:error,
#password:error {
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 2;
    -fx-border-color: red;
}

#login {
    -fx-background-color: #DEB992;
    -fx-font-family: "Vazir Bold";
    -fx-font-size: 24px;
}

#login:hover {
    -fx-background-color: #d6a878;
}

#errorDialog {
    -fx-font-family: "Vazir";
}